@model RockArticleApp.Pages.ArticleModel

<button data-id="@Model.ArticleId" data-like="@Model.HasBeenLiked" type="button" class="like-button @( Model.HasBeenLiked ? "btn-primary" : "btn-secondary" )" title="Click to like this post!">
    <i class="fas fa-thumbs-up fa-lg"></i> Like
    |
    <span class="like-count">@Model.ArticleLikesCount</span>
</button>

