@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Coding Challenge</h1>

    <p>See the Solution: <a asp-page="/article" asp-route-articleId="atatatahererejsjsj">Build a Reusable Like Button</a>.</p>
    
</div>

